1_semestre/aula4/node_modules
1_semestre/aula3/aula3/node_modules
1_semestre/aula2/app-2tdspk/node_modules
1_semestre/aula1/app-2tdspk
1_semestre/app-pizza/node_modules
2_semestre/01_tanquery/node_modules
2_semestre/02_AulaFireBaseAuth/node_modules
